html{
    background-color: antiquewhite;
}
h1{
    color: white;
    background-color: seagreen;
    border: 2px solid black;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
}
h2{
    background-color: brown;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    border: 2px solid black;
}
#content{
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid black;
}
h3{
    text-align: center;
}
img{
    margin-left: 37.5%;
    margin-right: 37.5%;
}
p{
    text-align: center;
}